<div class="ui-widget-content ui-corner-all" style="padding: 0.5em;">
<% form_for([ @cib, @crm_config ]) do |f| %>
  <table>
    <% @crm_config.props.each do |n,v| %>
      <tr>
        <th><%= label_tag "props[#{n}]", n %></th>
        <td><%= text_field_tag "props[#{n}]", v %></td>
      </tr>
    <% end %>
  </table>
  <div><%= f.submit %></div>
<% end %>
</div>