# Ignore bundler config
/.bundle

# Ignore the SQLite database
/db/*.sqlite3

# Ignore Gemfile.lock
Gemfile.lock
Gemfile.local

# Ignore lighttpd config
config/lighttpd.conf

# Ignore monitor symlink
public/monitor
