.container-fluid
  .row
    %h1
      = icon_text "file-o", @title, class: "page"
      .pull-right
        .btn-group{ role: "group" }

  .row
    = render partial: "primitives/form", locals: { cib: @cib, primitive: @primitive }

= render partial: "primitives/help", locals: { cib: @cib, primitive: @primitive }
