.container-fluid
  .row
    %h1
      = icon_text "sort-amount-desc", _("Edit Order Constraint"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("trash", _("Delete order")), cib_order_path(cib_id: @cib.id, id: @order.id), method: "delete", confirm: _("Are you sure you wish to delete %s?") % @order.id, class: "btn btn-default"

  .row
    = render partial: "form", locals: { cib: @cib, order: @order }
