.container-fluid
  .row
    %h1
      = icon_text "sort-amount-desc", _("Create Order"), class: "page"
      .pull-right
        .btn-group{ role: "group" }

  .row
    = render partial: "form", locals: { cib: @cib, order: @order }

= render partial: "shared/helpsidebar", locals: { category: :constraints, help: :order, mapping: @order.help_text.merge(@order.mapping) }
