<div class="container-fluid">
  <div class="row">
    <h1>
      <%= icon_text "sort-amount-desc", _("Create Order"), class: "page" %>
      <div class="pull-right">
        <div class="btn-group" role="group"></div>
      </div>
    </h1>
  </div>
  <div class="row">
    <%= render partial: "form", locals: { cib: @cib, order: @order } %>
  </div>
</div>
<%= render partial: "shared/helpsidebar", locals: { category: :constraints, help: :order, mapping: @order.help_text.merge(@order.mapping) } %>
