.container-fluid
  .row
    %h1
      = icon_text "sort-amount-desc", _("Create Order"), class: "page"

  .row
    = render partial: "form", locals: { cib: @cib, order: @order }

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row.order
      = localized_help_for :constraints, :order
