.container-fluid
  .row
    %h1
      = icon_text "sort-amount-desc", _("Create Order"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("list-ul", _("List")), cib_orders_path, class: "btn btn-default"

  .row
    = render partial: "form", locals: { cib: @cib, order: @order }

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row.order
      = localized_help_for :constraints, :order
