.container-fluid
  .row
    %h1
      = icon_text "globe", _("Edit Location Constraint"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("trash", _("Delete location")), cib_location_path(cib_id: @cib.id, id: @location.id), method: "delete", confirm: _("Are you sure you wish to delete %s?") % @location.id, class: "btn btn-default"

  .row
    = render partial: "form", locals: { cib: @cib, location: @location }
