.container-fluid
  .row
    %h1
      = icon_text "globe", _("Create Location"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("list-ul", _("List")), cib_locations_path, class: "btn btn-default"

  .row
    = render partial: "form", locals: { cib: @cib, location: @location }

= render partial: "shared/helpsidebar", locals: { category: :constraints, help: :location, mapping: @location.mapping }
