.container-fluid
  .row
    %h1
      = icon_text "globe", _("Create Location"), class: "page"
      .pull-right
        .btn-group{ role: "group" }

  .row
    = render partial: "form", locals: { cib: @cib, location: @location }

= render partial: "shared/helpsidebar", locals: { category: :constraints, help: :location, mapping: @location.help_text.merge(@location.mapping) }
