.container-fluid
  .row
    %h1
      = icon_text "globe", _("Create Location"), class: "page"

  .row
    = render partial: "form", locals: { cib: @cib, location: @location }

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row.location
      = localized_help_for :constraints, :location
