.container-fluid
  .row
    %h1
      = icon_text "file-o", _("Templates"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("plus", _("Create")), new_cib_template_path, class: "btn btn-default"

  .row
    .panel.panel-default
      %table.table.table-striped.templates
