*.orig
*.rej
*.swp
*.bak
*~
*.o
*.tmp
*.mo
*.src.rpm
#*.*#
.#*
hawk*.tar.bz2

scripts/hawk.suse
scripts/hawk.redhat

tools/hawk_chkpwd
tools/hawk_monitor
tools/hawk_invoke
tools/common.h

.vagrant
_shared_disk.vdi

*.vdi
