[submodule "chef/cookbooks/build"]
	path = chef/cookbooks/build
	url = git://github.com/chefhippie/build.git
[submodule "chef/cookbooks/hosts"]
	path = chef/cookbooks/hosts
	url = git://github.com/chefhippie/hosts.git
[submodule "chef/cookbooks/locales"]
	path = chef/cookbooks/locales
	url = git://github.com/chefhippie/locales.git
[submodule "chef/cookbooks/ntp"]
	path = chef/cookbooks/ntp
	url = git://github.com/chefhippie/ntp.git
[submodule "chef/cookbooks/openssh"]
	path = chef/cookbooks/openssh
	url = git://github.com/chefhippie/openssh.git
[submodule "chef/cookbooks/sshkey"]
	path = chef/cookbooks/sshkey
	url = git://github.com/chefhippie/sshkey.git
[submodule "chef/cookbooks/sudo"]
	path = chef/cookbooks/sudo
	url = git://github.com/chefhippie/sudo.git
[submodule "chef/cookbooks/timezone"]
	path = chef/cookbooks/timezone
	url = git://github.com/chefhippie/timezone.git
[submodule "chef/cookbooks/zypper"]
	path = chef/cookbooks/zypper
	url = git://github.com/chefhippie/zypper.git
