[submodule "chef/cookbooks/build"]
	path = chef/cookbooks/build
	url = git://github.com/hawk-ui/build.git
[submodule "chef/cookbooks/hosts"]
	path = chef/cookbooks/hosts
	url = git://github.com/hawk-ui/hosts.git
[submodule "chef/cookbooks/locales"]
	path = chef/cookbooks/locales
	url = git://github.com/hawk-ui/locales.git
[submodule "chef/cookbooks/ntp"]
	path = chef/cookbooks/ntp
	url = git://github.com/hawk-ui/ntp.git
[submodule "chef/cookbooks/openssh"]
	path = chef/cookbooks/openssh
	url = git://github.com/hawk-ui/openssh.git
[submodule "chef/cookbooks/sshkey"]
	path = chef/cookbooks/sshkey
	url = git://github.com/hawk-ui/sshkey.git
[submodule "chef/cookbooks/sudo"]
	path = chef/cookbooks/sudo
	url = git://github.com/hawk-ui/sudo.git
[submodule "chef/cookbooks/timezone"]
	path = chef/cookbooks/timezone
	url = git://github.com/hawk-ui/timezone.git
[submodule "chef/cookbooks/zypper"]
	path = chef/cookbooks/zypper
	url = git://github.com/hawk-ui/zypper.git
[submodule "chef/cookbooks/ruby_rbenv"]
	path = chef/cookbooks/ruby_rbenv
	url = git://github.com/hawk-ui/ruby_rbenv.git
