*.orig
*.rej
*.swp
*.bak
*~
*.o
*.tmp
*.mo
*.src.rpm
#*.*#
.#*
hawk*.tar.bz2
.vagrant
*.vdi

# ./scripts
scripts/hawk.suse
scripts/hawk.redhat

# ./tools
tools/hawk_chkpwd
tools/hawk_monitor
tools/hawk_invoke
tools/common.h

# ./hawk (bundler config and Gemfile.lock)
hawk/.bundle
hawk/Gemfile.lock
hawk/Gemfile.local
hawk/.ruby-version


# cache for bundler in test container
.bundler-test-cache


hawk/api_token_entries.store

# Ignore VS code trash folder
.Trash-1000
