*.orig
*.rej
*.swp
*.bak
*~
*.o
*.tmp
*.mo
*.src.rpm
#*.*#
.#*
hawk*.tar.bz2
.vagrant
*.vdi

# ./scripts
scripts/hawk.suse
scripts/hawk.redhat

# ./tools
tools/hawk_chkpwd
tools/hawk_monitor
tools/hawk_invoke
tools/common.h

# ./hawk
hawk/.bundle          # Ignore bundler config
hawk/Gemfile.lock     # Ignore Gemfile.lock
hawk/Gemfile.local
hawk/.ruby-version
