.ui-location select.short { width: 6.5em; }
.ui-location table.rule {
  width: 32em;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #000;
}
.ui-location table.rule-add {
  width: 32em;
  padding: 0.25em 0.5em;
  border: 1px solid #000;
}
.ui-location td.button { text-align: right; }
.ui-location button { font-size: 0.7em !important; }

