.ui-oplist select { width: 13em; }
.ui-oplist button { font-size: 0.7em !important; }
.ui-oplist th { width: 13.1em; font-weight: normal !important; }
.ui-oplist td.value { width: 11em; white-space: nowrap; }
.ui-oplist td.button { width: 1.7em; }

