.container-fluid
  .row
    %h1
      = icon_text "group", _("Edit Role"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("trash", _("Delete")), cib_role_path(cib_id: @cib.id, id: @role.id), method: "delete", confirm: _("Are you sure you wish to delete %s?") % @role.id, class: "btn btn-default"

  .row
    = render partial: "form", locals: { cib: @cib, role: @role }
