<div class="container-fluid">
  <div class="row">
    <h1>
      <%= icon_text "group", _("Roles"), class: "page" %>
      <small>
        <%= _("Access Control Lists") %>
      </small>
      <div class="pull-right">
        <div class="btn-group" role="group">
          <%= link_to icon_text("plus", _("Create")), new_cib_role_path, class: "btn btn-default" %>
        </div>
      </div>
    </h1>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <table class="table table-striped roles"></table>
    </div>
  </div>
</div>
<%= render partial: "shared/helpsidebar", locals: { category: :resources, help: :role, mapping: nil } %>
