.container-fluid
  .row
    %h1
      = icon_text "group", _("Create Role"), class: "page"

  .row
    = render partial: "form", locals: { cib: @cib, role: @role }

= render partial: "shared/helpsidebar", locals: { category: :resources, help: :role, mapping: nil }
