.container-fluid
  .row
    %h1
      = icon_text "group", _("Create Role"), class: "page"

  .row
    = render partial: "form", locals: { cib: @cib, role: @role }

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row.help-title
      = localized_help_for :resources, :role
