<div class="container-fluid">
  <div class="row">
    <h1>
      <%= icon_text "group", _("Create Role"), class: "page" %>
    </h1>
  </div>
  <div class="row">
    <%= render partial: "form", locals: { cib: @cib, role: @role } %>
  </div>
</div>
<%= render partial: "shared/helpsidebar", locals: { category: :resources, help: :role, mapping: nil } %>
