.container-fluid
  .row
    %h1
      = icon_text "superscript", _("Multi-state Resources"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("plus", _("Create")), new_cib_master_path, class: "btn btn-default"

  .row
    .panel.panel-default
      %table.table.table-striped.masters

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row.master
      = localized_help_for :resources, :master
