<div class="container-fluid">
  <div class="row">
    <h1>
      <%= icon_text "superscript", _("Create Promotable Resource"), class: "page" %>
      <div class="pull-right">
        <div class="btn-group" role="group"></div>
      </div>
    </h1>
  </div>
  <div class="row">
    <%= render partial: "form", locals: { cib: @cib, master: @master } %>
  </div>
</div>
<%= render partial: "shared/helpsidebar", locals: { category: :resources, help: :master, mapping: @master.help_text.merge(@master.mapping) } %>
