.container-fluid
  .row
    %h1
      = icon_text "superscript", _("Create Multi-state"), class: "page"
      .pull-right
        .btn-group{ role: "group" }

  .row
    = render partial: "form", locals: { cib: @cib, master: @master }

= render partial: "shared/helpsidebar", locals: { category: :resources, help: :master, mapping: @master.help_text.merge(@master.mapping) }
