<div class="container-fluid">
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <%= localized_help_for :simulator, :index %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal" type="button">
      <%= _("Close") %>
    </button>
  </div>
</div>
