= form_for @session, url: signin_path do |f|
  = f.text_field :username, placeholder: _("Username"), label: { class: 'sr-only' }
  = f.password_field :password, placeholder: _("Password"), label: { class: 'sr-only' }

  = f.submit _("Login"), class: "btn btn-primary btn-lg btn-block"
