.container-fluid
  .row
    %h1
      = icon_text "copy", _("Create Alert"), class: "page"
      .pull-right
        .btn-group{ role: "group" }

  .row
    = render partial: "form", locals: { cib: @cib, alert: @alert }

= render partial: "shared/helpsidebar", locals: { category: :resources, help: :alert, mapping: @alert.help_text.merge(@alert.mapping) }
