.container-fluid
  .row
    %h1
      = icon_text "file-archive-o", _("CIB"), class: "page"
      %small= _("Cluster Information Base")
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("file-o", _("Edit")), edit_cib_path(current_cib.id), class: "btn btn-default"

  .row
    %pre
      %code.crmsh.hljs= @cibtext.to_s
