.container-fluid
  .row
    %h1
      = icon_text "group", _("Create Group"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("list-ul", _("List")), cib_groups_path, class: "btn btn-default"

  .row
    = render partial: "form", locals: { cib: @cib, group: @group }

= render partial: "shared/helpsidebar", locals: { category: :resources, help: :group, mapping: @group.mapping }
