.container-fluid
  .row
    %h1
      = icon_text "group", _("Create Group"), class: "page"
      .pull-right
        .btn-group{ role: "group" }

  .row
    = render partial: "form", locals: { cib: @cib, group: @group }

= render partial: "shared/helpsidebar", locals: { category: :resources, help: :group, mapping: @group.help_text.merge(@group.mapping) }
