<div class="container-fluid">
  <div class="row">
    <h1>
      <%= icon_text "code", _("Resources"), class: "page" %>
      <div class="pull-right">
        <div class="btn-group" role="group">
          <%= link_to icon_text("plus", _("Create")), types_cib_resources_path, class: "btn btn-default" %>
        </div>
      </div>
    </h1>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <table class="table table-striped resources"></table>
    </div>
  </div>
</div>
<%= render partial: "shared/helpsidebar", locals: { category: :resources, help: :intro, mapping: nil } %>
