<% content_for :head do %>
<script type="text/javascript" src="<%= url_for(:action => 'gettext', :format => 'js') %>"></script>
<% end %>

<div id="onload-spinner"><%= image_tag 'spinner-32x32.gif', :alt => '' %></div>

<%= render :partial => 'menus' %>

<script type="text/javascript"><!--
Event.observe(window, 'load', function() { hawk_init(); });
//--></script>

