.container-fluid
  .row
    %h1
      = icon_text "server", _("Edit Node"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("list-ul", _("List")), cib_nodes_path(@cib.id), class: "btn btn-default"

  .row
    = render partial: "form", locals: { cib: @cib, node: @node }

= render partial: "shared/helpsidebar", locals: { category: :resources, help: :node, mapping: @node.help_text.merge(@node.mapping) }
