.container-fluid
  .row
    %h1
      = icon_text "server", _("Edit Node"), class: "page"
      .pull-right
        .btn-group{ role: "group" }

  .row
    = render partial: "form", locals: { cib: @cib, node: @node }

= render partial: "shared/helpsidebar", locals: { category: :resources, help: :node, mapping: @node.help_text.merge(@node.mapping) }
