.container-fluid
  .row
    %h1
      = icon_text "ticket", _("Edit Ticket Constraint"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("trash", _("Delete ticket")), cib_ticket_path(cib_id: @cib.id, id: @ticket.id), method: "delete", confirm: _("Are you sure you wish to delete %s?") % @ticket.id, class: "btn btn-default"

  .row
    = render partial: "form", locals: { cib: @cib, ticket: @ticket }
