.container-fluid
  .row
    %h1
      = icon_text "ticket", _("Tickets"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("plus", _("Create")), new_cib_ticket_path, class: "btn btn-default"

  .row
    .panel.panel-default
      %table.table.table-striped.tickets

= render partial: "shared/helpsidebar", locals: { category: :constraints, help: :ticket, mapping: nil }
