.container-fluid
  .row
    %h1
      = icon_text "ticket", _("Create Ticket"), class: "page"

  .row
    = render partial: "form", locals: { cib: @cib, ticket: @ticket }

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row.ticket
      = localized_help_for :constraints, :ticket
