.container-fluid
  .row
    %h1
      = icon_text "ticket", _("Create Ticket"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("list-ul", _("List")), cib_tickets_path, class: "btn btn-default"

  .row
    = render partial: "form", locals: { cib: @cib, ticket: @ticket }

= render partial: "shared/helpsidebar", locals: { category: :constraints, help: :ticket, mapping: @ticket.help_text.merge(@ticket.mapping) }
