.container-fluid
  .row
    %h1
      = icon_text "calendar-o", _("Command Log"), class: "page"

  .row
    .panel.panel-default
      .panel-body
        .row
          .col-sm-12
            %p.text-muted= _("Lists crm commands recently executed by hawk, most recent first.")
        .row
          .col-sm-12
            .commands
              - @cmds.reverse_each do |cmd|
                %pre
                  %code.crmsh.hljs{ title: cmd.lines.first }= cmd.lines[1..-1].join
