<div class="row" id="flashes">
  <% flash.each do |name, message| %>
    <div class="<%= flash_class_for(name) %> alert alert-dismissible" role="alert">
<<<<<<< 792fa759b0ae15123460406e38238b12f7213dca
      <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">
=======
      <button class="close" data-dismiss="alert" type="button">}
        <span aria-hidden="true">}
>>>>>>> UI: Remove Haml gem, replace Haml template engine and rewrite files in views/shared in erb
          &times;
        </span>
        <span class="sr-only">
          <%= _("Close") %>
        </span>
      </button>
      <%= simple_format message %>
    </div>
  <% end %>
</div>
