.row#flashes
  - flash.each do |name, message|
    .alert.alert-dismissible{ class: flash_class_for(name), role: "alert" }
      %button.close{ type: "button", data: { dismiss: "alert" } }
        %span{ aria: { hidden: "true" } }
          &times;
        %span.sr-only
          = _("Close")

      = simple_format message
