%footer
  .container-fluid
    .row
      .col-md-6.copyright
        = branding_config[:provider].html_safe

      .col-md-6.hidden-xs.hidden-sm.metadata
        .btn-group.btn-group-sm{role: :group}
          / %button.btn{type: :button, data: { toggle: :tooltip, title: _("DC"), link: "meta.dc", placement: :top, container: :body } }
          /  = current_cib.meta.dc
          / %button.btn{type: :button, data: { toggle: :tooltip, title: _("Host"), link: "meta.host title{:meta.version}", placement: :top, container: :body } }
          /  = current_cib.meta.host
          %a.btn.btn-default{type: :button, href: meta_cib_path(current_cib.id), title: _("Cluster Details"), data: { toggle: :modal, target: "#modal", link: "class{statusbuttonclass:meta.status}" } }
            %i{data:{link:"class{statusbuttonicon:meta.status}"}}
