%footer
  .container-fluid
    .row
      .col-md-6.copyright
        = branding_config[:provider].html_safe

      .col-md-6.hidden-xs.hidden-sm.metadata
        .btn-group.btn-group-sm{role: :group}
          %a.btn.btn-default{type: :button, href: meta_cib_config_path(cib_id: current_cib.id), title: _("Cluster Details"), data: { toggle: :modal, target: "#modal", link: "class{statusbuttonclass:meta.status}" } }
            %i{data:{link:"class{statusbuttonicon:meta.status}"}}
