- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row.help-title.margin-bottom
      - unless category.nil? || help.nil?
        = localized_help_for category, help

    #helpentries
      - unless mapping.nil?
        - mapping.each do |key, values|
          = render partial: "shared/helpentry", locals: { key: key, values: values }
