#modal.modal.fade{ role: "dialog", tabindex: "-1", aria: { hidden: "true" } }
  .modal-dialog
    .modal-content

#modal-lg.modal.fade{ role: "dialog", tabindex: "-1", aria: { hidden: "true" } }
  .modal-dialog.modal-lg
    .modal-content
