<div aria-hidden="true" class="modal fade" id="modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
<div aria-hidden="true" class="modal fade" id="modal-lg" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>
