<div class="container-fluid">
  <div class="row">
    <h1>
      <%= icon_text "tasks", _("Create Colocation"), class: "page" %>
      <div class="pull-right">
        <div class="btn-group" role="group"></div>
      </div>
    </h1>
  </div>
  <div class="row">
    <%= render partial: "form", locals: { cib: @cib, colocation: @colocation } %>
  </div>
</div>
<%= render partial: "shared/helpsidebar", locals: { category: :constraints, help: :colocation, mapping: @colocation.help_text.merge(@colocation.mapping) } %>
