.container-fluid
  .row
    %h1
      = icon_text "tasks", _("Create Colocation"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("list-ul", _("List")), cib_colocations_path, class: "btn btn-default"

  .row
    = render partial: "form", locals: { cib: @cib, colocation: @colocation }

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row.colocation
      = localized_help_for :constraints, :colocation
