.container-fluid
  .row
    %h1
      = icon_text "tasks", _("Create Colocation"), class: "page"
      .pull-right
        .btn-group{ role: "group" }

  .row
    = render partial: "form", locals: { cib: @cib, colocation: @colocation }

= render partial: "shared/helpsidebar", locals: { category: :constraints, help: :colocation, mapping: @colocation.help_text.merge(@colocation.mapping) }
