.container-fluid
  .row
    %h1
      = icon_text "copy", _("Tags"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("plus", _("Create")), new_cib_tag_path, class: "btn btn-default"

  .row
    .panel.panel-default
      %table.table.table-striped.tags

= render partial: "shared/helpsidebar", locals: { category: :resources, help: :tag, mapping: nil }
