.container-fluid
  .row
    %h1
      = icon_text "copy", _("Create Tag"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("list-ul", _("List")), cib_tags_path, class: "btn btn-default"

  .row
    = render partial: "form", locals: { cib: @cib, tag: @tag }

= render partial: "shared/helpsidebar", locals: { category: :resources, help: :tag, mapping: @tag.help_text.merge(@tag.mapping) }
