.container-fluid
  .row
    %h1
      = icon_text "list", _("Show"), class: "page"
      %small= _("Configuration")
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("database", _("Edit")), edit_cib_config_path(cib_id: current_cib.id), class: "btn btn-primary"

  .row
    %pre
      %code.crmsh.hljs= @cibtext.to_s
