[Unit]
Description=Configure routes for correct deployment in Gollum
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/home/vagrant/bin/configure_routes.sh
RemainAfterExit=true


[Install]
WantedBy=multi-user.target
