[Unit]
Description=Pacemaker exporter
After=network.target
StopWhenUnneeded=true

[Service]
Type=simple
KillMode=control-group
TimeoutSec=300
TimeoutStopSec=10
User=hacluster
Group=haclient
ExecStart=$GOPATH/src/github.com/hawk-ui/pacemaker_exporter/pacemaker_exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target
