.inner {
  min-width: 800px;
}

.border-color {
  border-color: #ddd!important;
}

.cluster-errors .list-group {
  border: 1px solid#ddd;
  border-radius: 3px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.cluster-errors .list-group .list-group-item { border: 0px; }

.dashboard-container {

  > .alert {
    margin: 15px;

    p {
      margin: 7px 0;
    }
  }
}

#local-cluster {
  margin: 15px;

  > .panel-default .panel-body {
    padding: 0;
  }
}

#middle .panel-default .cluster-heading {
  background-image: none;
  background-color: #f7f7f7;
  padding: 8px 15px;
  border-bottom: 1px solid #ddd;
  min-height: 50px;
  > h3 {
    float: left;
    line-height: 25px;
  }
}

.dashboard-legend {

    > .btn-group .btn {
      border: 0;
      background: transparent;

      &.dropdown-toggle:focus,
      &.dropdown-toggle:hover,
      &.btn:hover,
      &.btn:focus,
      &.btn:active {
        background: transparent;
        box-shadow: none;
      }
    }

    .open .dropdown-toggle {
      background: transparent;
      box-shadow: none;
    }
  }


ul.legend-status {
  width: 420px;
  padding: 0;
  margin-left: 10px;
  margin-right: -25px;

  li {
    width: 45%;
    display: inline-block;
    margin: 3px 18px 3px 0;
    padding: 0;
    font-size: 13px;
    color: #666;

    > .node-circle {
      width: 14px;
      height: 14px;
      margin-right: 8px;
      vertical-align: sub;
    }

    > .fa {
      margin-right: 8px;
      width: 14px;
      color: #333;
    }
  }
}

.dropdown-menu {
  right: 0px;
  left: inherit;
}

.open > .dropdown-menu {
  padding: 10px;
  border-radius: 0;
  border: 0;

  a {
    display: block;
  }
}

.status-table,
.errors-section {
  padding: 15px;
  clear: left;
}

table tr td {
  text-align: center;
  position: relative;
}

table tr th {
  text-align: center;
}

.table>tbody>tr.no-top-border>th,
.table>tbody>tr.no-top-border>td {
  border-top-color: #fff;
}



.table>tbody>tr>th,
.table>tbody>tr>td {
  border-left: 1px solid #ddd;
  vertical-align: middle;
  height: 50px;
  padding: 0 8px;
}

.no-left-border {
  border-left-color: #fff!important;
}

.table>tbody>tr.table-header>th {
  padding: 20px 5px;
}


.status-bar {
  width: 5px; height: 25px;
  display: inline-block;
  margin-right: 3px;
}

.node-name {
  display: inline-block;
  text-align: left;
  font-weight: lighter;
  line-height: 14px;
  margin-right: 5px;

  span {
    font-size: 11px;
    color: #888;
    display: block;
  }
}

.status-icon {
  margin-right: 3px;
  display: inline-block;
  vertical-align: super;
}

.resource-name {
  display: inline-block;
  vertical-align: super;
}

.slave-master {
  border-radius: 3px;
  background: #fc9a2b;
  padding: 1px 1px 0px 1px;
  color: #fff;
  font-size: 10px;
  display: block;
  width: 35px;
  margin: 0 auto;
  margin-top: 2px;
}

.node-circle {
  border-radius: 8px;
  width: 16px;
  height: 16px;
  transition:all 0.3s ease;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.status-success {
  background-color: #00c081;
}

.status-warning {
  background-color: #fc9a2b;
}

.status-danger {
  background-color: #a52700;
}

.status-default {
  background-color: #fff;
  border: 1px solid #777;
}

.status-offline {
  background-color: #555;
}

.status-ticket {
  background-color: #42a1f4;
}

.ticket-state {
  background: #ccc;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
}

.table>tbody > tr > td.resource-icon {
  padding-left: 0px;
  padding-right: 0px;
  line-height: 28px;
  text-align: right;
}

.tab-cluster-status {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
}

.cluster-search-btn {
  padding: 9px 10px;
}

ul.cluster-right-menu {
  margin-bottom: 0;
}

ul.cluster-right-menu li {
  display: inline-block;
  margin: 0px 6px 0 0;
  color: #444;
  vertical-align: middle;
  .cluster-link, .cluster-close-btn {
    color: #444;
    padding: 4px 8px;
    opacity: 1;
  }
  .btn {
    background: transparent;
    padding: 4px 8px;
    &.btn:active:focus {
      box-shadow: none;
      border-color: transparent;
      outline: none;
    }
  }
}

   ul.cluster-right-menu li.cluster-hide {
     padding: 0px 4px;
     border: 1px solid #ccc;
   }


  ul.cluster-right-menu li.ticket {
     border-right: 1px solid #ccc;
     padding-right: 5px;
  }

  ul.cluster-right-menu li.ticket .notification {
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background: #ccc;
    margin-left: 7px;
    display: inline-block;
    text-align: center;
    color: #444;
    font-size: 11px;
    vertical-align: text-bottom;
  }

  .filter-dropdown {
     width: 180px;
   }

  .ticket-dropdown {
   width: 250px;
   padding: 0;
  }

   .ticket-name {
     width: 70%;
     display: inline-block;
   }

   .ticket-status {
     width: 28%;
     display: inline-block;
   }

   .filter-dropdown a,
  .ticket-dropdown a {
     color: #777;
     margin: 7px 0px;
     font-size: 13px;
  }

   .ticket-dropdown a:hover {
     text-decoration: none;
   }
   .ticket-dropdown a.new-ticket {
     font-weight: bold;
     color: #000;
   }

   .filter-header,
   .ticket-header {
     border-bottom: 1px solid #ccc;
     font-weight: bold;
     color: #666;
     margin: 0 -10px 5px;
     padding: 0 10px 3px 10px;
   }
