// TODO:
// Should have all theme-related variables that we can override
// to rebrand the UI


// ----  basics.scss variables ----
$body-text-color: #3a3e40;
$simulator-left: #1fad7a;
$simulator-right: #80c235;


// ----  content.scss variables - login page ----
$darkbar-bg: #2b2b2b;
$darkbar-heading-fg:#00b268;
$rightbar-bg: #ebebeb;
$sidebar-headings-fg: rgb(58, 62, 64);
$sidebar-headings-font-family: $headings-font-family;
$sidebar-highlight-fg: #80c235;
$sidebar-link-hover-fg: darken(#fff, 20.0%);
$sidebar-separator-fg: #333;
$sidebar-link-fg: #fff;
$sidebar-heading-fg: #00b268;
$sidebar-fg: #fff;
$sidebar-bg: #383c3e;


//  ----  head.scss variables ----
$batch-bar-bg: #d35400;
$batch-control-bar-text: #fff;


// ----  simulator.scss variables ----
$batch-bar-text: #f1c40f;
$batch-button-active-fg: #84c66a;


// ----  misc.scss variables ----
$diff-sub-bg: #fdd;
$diff-add-bg: #dfd;
$diff-chg-bg: #ddf;
$diff-header-fg: #fff;
$diff-next-bg: #c0c0c0;


// ----  nav.scss variables ----
$nav-bighelp-fg: #000;
$pull-right-hover: #00b268;


// ----  panel.scss variables ----
$nav-tabs-lightgray: #ddd;
$panel-steps-bg: #ccc;
$panel-default-fg: #777;
$nav-tabs-active-bg: #fff;
$nav-tabs-active-fg: #555;
$dropdown-menu-bg: #f5f5f5;
$dropdown-menu-active-bg: #555;
$dropdown-menu-active-fg: #fff;


// ----  mixins ----
@mixin panel-heading-bg() {
  @include gradient-vertical(#f4f4f4, #e7e7e7);
}

@mixin horizontal-gradient-background($from, $to) {
  background: linear-gradient(to right, $from 0, $to 100%);
  background: -moz-linear-gradient(left, $from 0, $to 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0,$from), color-stop(100%,$to));
}

@mixin footer-theme() {
  background-color: #f9f9f9;
  padding: 15px 10px;
  border-top: 1px solid #ccc;
}
