.cluster {
  border: 1px solid #000;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 1em;
  width: 18em;
  background-color: #fff;
}

.mon-warning {
  font-weight: normal;
  background-color: #fc6;
}

.cluster-error {
  font-weight: normal;
  background-color: #c66;
}
