.cluster {
  border: 1px solid #000;
  float: left;
  margin: 0.5em;
  padding: 1em;
  width: 18em;
  background-color: #fff;
}

.geoset {
  border: 1px solid #000;
  float: left;
  margin: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #ccc;
}

.mon-warning {
  text-align: left;
  font-weight: normal;
  width: auto !important;
}

.cluster-error {
  font-weight: normal;
  padding: 0.5em;
}
