.ui-aclrules select { width: auto; }
.ui-aclrules button { font-size: 0.7em !important; }
.ui-aclrules td input[type=text] { width: 5em; }
.ui-aclrules td.xpath input[type=text] { width: 22em; }
.ui-aclrules th { font-weight: normal !important; }
.ui-aclrules th.label { font-weight: bold !important; }
.ui-aclrules .ui-state-error { font-size: 0.8em; padding: 0.3em; }

