.ui-attrlist select { width: 13em; }
.ui-attrlist button { font-size: 0.7em !important; }
.ui-attrlist input[type=text] { width: 13em; }
.ui-attrlist th { width: 13.1em; font-weight: normal !important; }
.ui-attrlist th.label { font-weight: bold !important; }
.ui-attrlist td.value { width: 13.1em; text-align: center; }
.ui-attrlist .ui-state-error { font-size: 0.8em; padding: 0.3em; }

