.ui-rscticket button { font-size: 0.7em !important; margin-left: 1em; }
.ui-rscticket th.label { padding-top: 1em; font-weight: bold !important; }
.ui-rscticket td.rel { text-align: center; }
.ui-rscticket td.set { border: 1px solid #000; }  /* for link rows */
.ui-rscticket td.res { border: 1px solid #000; padding: 0.25em 0.5em; }
.ui-rscticket td.l   { border-right-style: none; }
.ui-rscticket td.r   { border-left-style: none; text-align: right; }

.ui-rscticket td.set-t { padding-top: 0.5em; border-bottom-style: none; }
.ui-rscticket td.set-m { border-top-style: none; border-bottom-style: none; }
.ui-rscticket td.set-b { padding-bottom: 0.5em; border-top-style: none; }

.ui-rscticket input[type=text] { width: 10em; }

