.container-fluid
  .row
    %h1
      = icon_text "eye", _("Constraints"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("plus", _("Create")), types_cib_constraints_path, class: "btn btn-default"

  .row
    .panel.panel-default
      %table.table.table-striped.constraints

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
