# Ignore bundler config
/.bundle

# Ignore the SQLite database
/db/*.sqlite3

# Ignore useless dirs
/log/*
/tmp/*
/vendor/*

# Ignore Gemfile.lock
Gemfile.lock

# Ignore lighttpd config
config/lighttpd.conf

# Ignore monitor symlink
public/monitor
