.container-fluid
  .row
    %h1
      = icon_text "user", _("Edit ACL Target"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("trash", _("Delete")), cib_user_path(cib_id: @cib.id, id: @user.id), method: "delete", class: "btn btn-default", data: { confirm: _("Are you sure you wish to delete %s?") % @user.id }

  .row
    = render partial: "form", locals: { cib: @cib, user: @user }

= render partial: "shared/helpsidebar", locals: { category: :resources, help: :user, mapping: nil }
