.container-fluid
  .row
    %h1
      = icon_text "user", _("Targets"), class: "page"
      %small= _("Access Control Lists")
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("plus", _("Create")), new_cib_user_path(cib_id: @cib.id), class: "btn btn-default"

  .row
    .panel.panel-default
      %table.table.table-striped.users

- content_for :rightbar do
  .container-fluid{ data: { spy: "affix" } }
    .row.help-title
      = localized_help_for :resources, :user
