.container-fluid
  .row
    %h1
      = icon_text "copy", _("Create Clone"), class: "page"
      .pull-right
        .btn-group{ role: "group" }

  .row
    = render partial: "form", locals: { cib: @cib, clone: @clone }

= render partial: "shared/helpsidebar", locals: { category: :resources, help: :clone, mapping: @clone.help_text.merge(@clone.mapping) }
