.container-fluid
  .row
    %h1
      = icon_text "copy", _("Create Clone"), class: "page"
      .pull-right
        .btn-group{ role: "group" }
          = link_to icon_text("list-ul", _("List")), cib_clones_path, class: "btn btn-default"

  .row
    = render partial: "form", locals: { cib: @cib, clone: @clone }

= render partial: "shared/helpsidebar", locals: { category: :resources, help: :clone, mapping: @clone.mapping }
